<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simply Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
</head>

<body>

  <nav class="px-2 bg-red-300 border-gray-200 navbar">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap logo text-gray-100 hover:text-orange-700">Simply Blog</span>
      </a>

      <button data-collapse-toggle="mobile-menu" type="button"
        class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500"
        aria-controls="mobile-menu-2" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <div class="hidden w-full md:block md:w-auto bg-red-300" id="mobile-menu">

        <ul
          class="flex flex-col p-4 mt-4 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-red-300 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

          {{#if activeUser}}
          <li class="block py-2 pr-4 pl-3 rounded md:hover:bg-transparent md:border-0 md:p-0 text-blue-500 text-lg">Hi
            {{activeUser.first_name}}!</li>
          {{/if}}
            
          <li>
            <a href="/"
              class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-700 md:p-0 
              dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-gray-100 text-lg">Home</a>
          </li>
          <li>
            <a href="/dashboard"
              class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-700 md:p-0 
              dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-gray-100 text-lg">Dashboard</a>
          </li>
          {{#if logged_in}}
          <li>
            <a href="/"
              class="block py-2 pr-4 pl-3 text-gray-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-700 
              md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-lg"
              id="logout">Logout</a>
          </li>
          {{else}}
          <li>
            <a href="/login"
              class="block py-2 pr-4 pl-3 text-gray-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-700 
              md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-lg">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <main class="mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <footer class="p-4 mt-4 bg-white rounded-lg shadow flex items-center justify-center p-6">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="/"
        class="hover:underline">Simply Blog</a>. Powered by MDJ
    </span>
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>