<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        {{!-- <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900 block uppercase tracking-wide font-bold mb-2">Pet
                    Details</h3>
                <p class="mt-1 text-sm text-gray-600">
                    General information about your pet.
                </p>
            </div>
        </div> --}}
        <div class="mt-5 md:col-span-2 md:mt-0">
            <form class="post-ad-form">
                <div class="shadow sm:overflow-hidden sm:rounded-md">
                    <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                        <h3
                            class="text-lg font-medium leading-6 text-gray-900 block uppercase tracking-wide font-bold mb-2">
                            Pet
                            Details</h3>
                        <p class="mt-1 text-sm text-gray-600">
                            General information about your pet.
                        </p>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Pet's
                                Name</label>
                            <div class="mt-1">
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="pet-name" type="text">
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Breed</label>
                            <div class="mt-1">
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="breed" type="text">
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Microchip
                                Number</label>
                            <div class="mt-1">
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="microchip" type="text">
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Age</label>
                            <div class="mt-1">
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="age" type="text" placeholder="Feel free to add decimals for months">
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Category</label>
                            <div class="mt-1">
                                <select
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    name="category" id="category">
                                    <option value="1">Dog</option>
                                    <option value="2">Cat</option>
                                    <option value="3">Small Animal</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Price</label>
                            <div class="mt-1">
                                <p>$</p><input
                                    class="appearance-none block bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="price" type="text" value="">
                            </div>
                        </div>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Pet
                                Description</label>
                            <div class="mt-1">
                                <textarea id="description" name="about" rows="3"
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    type="text" placeholder="Brief description about your pet."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                        <button
                            class="transition duration-500 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Post Ad
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/postad.js"></script>