<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="mt-5 md:col-span-2 md:mt-0">
            <form class="update-blog-form">
                <div class="shadow sm:overflow-hidden sm:rounded-md">
                    <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                        <h3
                            class="text-lg font-medium leading-6 text-gray-900 block uppercase tracking-wide font-bold mb-2">
                            Update your blog</h3>
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Title</label>
                            <div class="mt-1">
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    id="blog-title" type="text" value="{{blog.title}}">
                            </div>
                        </div>
                       
                        <div>
                            <label for="about"
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Blog's Content</label>
                            <div class="mt-1">
                                <textarea id="blog-content" rows="3"
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded pb-96 pt-4 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                    type="text">{{blog.content}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                        <button
                            class="transition duration-500 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit" id="blog-id" value="{{blog.id}}">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/updateblog.js"></script>