@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 10px;
    width: 100%;
}

.navbar {
    padding: 1em;
}

.content {
    white-space: pre;
}
